:root {
  --blue: rgb(0, 134, 202);
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  background-color: #bcd0231e;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 6fr;
}

.header {
  background-color: white;
  display: grid;
  grid-template: 1fr 1.5fr / 1fr;
}

.header-top {
  display: grid;
  grid-template: 1fr / 1fr 5fr 1fr 1fr 2fr;
}

.header-top > div {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.header-top > .search-bar {
  justify-content: left;
  padding: 10px;
}

/* .user-name {
  display: flex;
  
  justify-content: center;
} */

.search-bar-input {
  width: 20rem;
  height: 1.5rem;
  border-radius: 40px;
  padding-left: 0.25rem;
}

.header-bottom {
  display: grid;
  grid: 1fr 1fr / 1fr 5fr 1fr 1fr 1fr;
  padding-bottom: 4px;
}

.header-bottom > .head-button,
.header-bottom > .profile-pic {
  grid-row: 1/-1;
}
.profile-pic > .user-icon {
  object-fit: cover;
  width: min(5rem, 100%);
}
.header-top .user-icon {
  width: 2.5rem;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bottom > .welcome {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  align-items: flex-end;
  font-size: 0.9rem;
}

.header-bottom > .full-name {
  grid-row: 2/3;
  grid-column: 2/3;
  align-items: flex-start;
  font-size: 1.5rem;
}

.head-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-button {
  background-color: var(--blue);
  color: white;
  padding: 1rem;
  border-radius: 30px;
  width: 5rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  border: solid black 0.25px;
}

.sidebar {
  background-color: var(--blue);
  color: white;
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: 5rem 20rem 1fr;
}

.sidebar > div {
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.sidebar .click-icon {
  filter: brightness(0) invert(1);
  width: 2rem;
  margin-right: 0.8rem;
}

.main {
  background-color: rgb(221, 229, 237);
  display: grid;
  grid-template: 1rem 5fr 1rem 5fr/ 3fr 1fr;
  gap: 15px;
  padding: 15px;
}

.projects-container {
  grid-row: 2/5;
  display: grid;
  /* grid-template: 1fr 1fr / 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-rows: repeat(2, 1fr); */
  gap: 10px;
}

.projects-container .card {
  background-color: #ffffff;
  color: black;
  text-align: left;
  height: 10rem;
  padding: 15px;
  border-left: 5px solid #4895ff;
  display: grid;
  border-radius: 8px;
  max-width: 20rem;
}

.projects-container .card {
  font-size: 0.8rem;
}

.card-buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: right;
  gap: 6px;
}

.card-content {
  overflow: scroll;
}

.projects-container .title {
  font-size: 1.2rem;
  font-weight: bold;
}

.announcements-container .card {
  background-color: white;
  color: black;
  text-align: left;
  font-size: 0.7rem;
  padding: 10px;
  border-radius: 8px;
  display: grid;
  gap: 10px;
}

.announcements-container .title {
  font-size: 1rem;
}

.trending-card {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr;
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 8px;
  padding: 20px;
  gap: 10px;
}

/* .projects-container .card {
  background-color: #ffffff;
  color: black;
  text-align: left;
  height: 10rem;
  padding: 15px;
  border-left: 5px solid #4895ff;
  display: grid;
  border-radius: 8px;
  max-width: 20rem;
} */

.trending-user {
  display: grid;
  grid-template: 1fr 1fr / 1fr 4fr;
  /* border: solid black 1px; */
  font-size: 15px;
}

.trending-user .picture {
  grid-row: 1 / -1;
  margin-right: 4px;
}

.user-icon {
  width: 2.5rem;
}

.click-icon {
  width: 1.5rem;
}

/* // Size can also be negative; see how it's smaller than the element */
.raise:hover {
  box-shadow: 0 0.5em 0.5em -0.4em 100;
  transform: translateY(-0.25em);
}
